<!-- Seamus -->

<!-- 
    This is the edit profile page. It is effectively a form that allows users to edit their profile information.
    It allows for users to add more information about themselves or change what they have already provided. 
-->

<!-- Extremely thorough video series, walks through many potential components of this project -->
<!-- https://www.youtube.com/watch?v=fsVY66QBhwM&ab_channel=CalebCurry -->

<!-- Articles and threads -->
<!-- https://stackoverflow.com/questions/15393134/django-how-can-i-create-a-multiple-select-form -->
<!-- https://stackoverflow.com/questions/3644902/how-to-check-if-a-user-is-logged-in-how-to-properly-use-user-is-authenticated\ -->
<!-- https://openclassrooms.com/en/courses/7107341-intermediate-django/7264297-create-an-image-upload-facility-->
<!-- https://forum.djangoproject.com/t/what-would-be-the-best-approach-to-create-a-separate-profile-page-for-registered-users/15141-->


{% extends 'base.html' %}

{% load static %}

{% block title %}
Edit Your Profile
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Edit Profile</h2>
    <form method="POST" action="{% url 'edit_profile_url' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Profile Picture Upload -->
        <div class="form-group text-center">
            <label for="profilePictureUpload">
                {% if user.profile.profile_picture %}
                <!-- Handle actual profile picture stuff here -->
                <!-- routes either to users profile picture or the default -->
                <img src="{{ MEDIA_URL }}{{ user.profile.profile_picture.url }}" class="img-fluid rounded-circle shadow mb-3" alt="if you see this sorry" style="cursor: pointer; width: 150px; height: 150px;">
                {% else %}
                <img src="{{MEDIA_URL }}{{ user.profile.profile_picture.url }}" class="img-fluid rounded-circle shadow mb-3" alt="Default Profile Picture" style="cursor: pointer; width: 150px; height: 150px;">
                {% endif %}
            </label>
            <input type="file" name="profile_picture" id="profilePictureUpload" class="d-none" onchange="this.form.submit();">
        </div>
        <!-- Editable Fields -->
        <div class="form-group">
            <label for="id_first_name">First name:</label>
            <input type="text" class="form-control" name="first_name" id="id_first_name" value="{{ user.first_name }}" style="border-radius: 20px; overflow: hidden;">
        </div>
        <div class="form-group">
            <label for="id_last_name">Last name:</label>
            <input type="text" class="form-control" name="last_name" id="id_last_name" value="{{ user.last_name }}" style="border-radius: 20px; overflow: hidden;">
        </div>
        <div class="form-group">
            <label for="id_email">Email:</label>
            <input type="email" class="form-control" name="email" id="id_email" value="{{ user.email }}" style="border-radius: 20px; overflow: hidden;">
        </div>
        <div class="form-group">
            <label for="id_location">Location:</label>
            <input type="text" class="form-control" name="location" id="id_location" value="{{ user.profile.location }}" style="border-radius: 20px; overflow: hidden;">
        </div>
        <!-- dropdown for selecting student status -->
        <!-- Users who select current novo will get a verified check -->
        <div class="form-group">
            <label for="id_user_years">Status:</label>
            <select class="form-control" name="user_years" id="id_user_years" style="border-radius: 20px; overflow: hidden;">
                <option value="Inbound"> Inbound Novo</option>
                <option value="Current"> Current Novo</option>
                <option value="Alum"> Novo Alum</option>
            </select>
        </div>
        
        <!-- Additional user information forms -->
        <div class="form-group">
            <label for="id_pets">Pets:</label>
            <input type="text" class="form-control" name="pets" id="id_pets" value="{{ user.profile.pets }}" style="border-radius: 20px; overflow: hidden;">
        </div>
        <div class="form-group">
            <label for="id_interests">Hobbies / Interests:</label>
            <input type="text" class="form-control" name="interests" id="id_interests" value="{{ user.profile.interests }}" style="border-radius: 20px; overflow: hidden;">
        </div>
        <div class="form-group">
            <label for="id_bio">Bio:</label>
            <textarea class="form-control" name="bio" id="id_bio" style="border-radius: 20px; overflow: hidden;">{{ user_profile.bio }}</textarea>
        </div>
        <a href="{% url 'profile' %}" class="btn btn-primary rounded-pill shadow mt-3 ">Back</a>
        <button type="submit" class="btn btn-primary rounded-pill shadow mt-3">Save Changes</button>
    </form>
    <!-- loading these here for now because its not passing through base correctly -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
{% endblock %}
