<!-- https://www.youtube.com/watch?v=fsVY66QBhwM&ab_channel=CalebCurry -->


{% extends 'base.html' %}

{% load static %}

{% block title %}
Edit Your Profile
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Edit Profile</h2>
    <form method="POST" action="{% url 'edit_profile_url' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Profile Picture Upload -->
        <div class="form-group text-center">
            <label for="profilePictureUpload">
                {% if user.profile.profile_picture %}
                <!-- Handle actual profile picture stuff here -->
                <img src="{{ MEDIA_URL }}{{ user.profile.profile_picture.url }}" class="img-fluid rounded-circle shadow mb-3" alt="if you see this sorry" style="cursor: pointer; width: 150px; height: 150px;">
                {% else %}
                <img src="{{MEDIA_URL }}{{ user.profile.profile_picture.url }}" class="img-fluid rounded-circle shadow mb-3" alt="Default Profile Picture" style="cursor: pointer; width: 150px; height: 150px;">
                {% endif %}
            </label>
            <input type="file" name="profile_picture" id="profilePictureUpload" class="d-none" onchange="this.form.submit();">
        </div>
        <!-- Editable Fields -->
        <div class="form-group">
            <label for="id_first_name">First name:</label>
            <input type="text" class="form-control" name="first_name" id="id_first_name" value="{{ user.first_name }}" style="border-radius: 20px; overflow: hidden;">
        </div>
        <div class="form-group">
            <label for="id_last_name">Last name:</label>
            <input type="text" class="form-control" name="last_name" id="id_last_name" value="{{ user.last_name }}" style="border-radius: 20px; overflow: hidden;">
        </div>
        <div class="form-group">
            <label for="id_email">Email:</label>
            <input type="email" class="form-control" name="email" id="id_email" value="{{ user.email }}" style="border-radius: 20px; overflow: hidden;">
        </div>
        <div class="form-group">
            <label for="id_location">Location:</label>
            <input type="text" class="form-control" name="location" id="id_location" value="{{ user.profile.location }}" style="border-radius: 20px; overflow: hidden;">
        </div>
        <!-- fix this make it a dropdown -->
        <div class="form-group">
            <label for="id_user_years">Status:</label>
            <input type="text" class="form-control" name="user_years" id="id_user_years" value="{{ user.profile.user_years }}" style="border-radius: 20px; overflow: hidden;">
        </div>
        <div class="form-group">
            <label for="id_pets">Pets:</label>
            <input type="text" class="form-control" name="pets" id="id_pets" value="{{ user.profile.pets }}" style="border-radius: 20px; overflow: hidden;">
        </div>
        <div class="form-group">
            <label for="id_interests">Hobbies / Interests:</label>
            <input type="text" class="form-control" name="interests" id="id_interests" value="{{ user.profile.interests }}" style="border-radius: 20px; overflow: hidden;">
        </div>
        <div class="form-group">
            <label for="id_bio">Bio:</label>
            <textarea class="form-control" name="bio" id="id_bio" style="border-radius: 20px; overflow: hidden;">{{ user_profile.bio }}</textarea>
        </div>
        <a href="{% url 'profile' %}" class="btn btn-primary rounded-pill shadow mt-3 ">Back</a>
        <button type="submit" class="btn btn-primary rounded-pill shadow mt-3">Save Changes</button>
    </form>
    <!-- loading these here for now because its not passing through base correctly -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
{% endblock %}
