{% extends 'base.html' %}

{% load static %}

{% block title %}
Edit Your Profile
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Edit Profile</h2>
    <form method="POST" action="{% url 'profile_update_url' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Profile Picture Upload -->
        <div class="form-group text-center">
            <label for="profilePictureUpload">
                {% if user_profile.profile_picture %}
                <!-- Handle actual profile picture stuff here -->
                {% else %}
                <img src="{% static 'userprofiles/default.jpg' %}" class="img-fluid rounded-circle" alt="Default Profile Picture" style="cursor: pointer; width: 150px; height: 150px;">
                {% endif %}
            </label>
            <input type="file" name="profile_picture" id="profilePictureUpload" class="d-none" onchange="this.form.submit();">
        </div>
        <!-- Editable Fields -->
        <div class="form-group">
            <label for="id_first_name">First name:</label>
            <input type="text" class="form-control" name="first_name" id="id_first_name" value="{{ user.first_name }}" style="border-radius: 20px; overflow: hidden;">
        </div>
        <div class="form-group">
            <label for="id_last_name">Last name:</label>
            <input type="text" class="form-control" name="last_name" id="id_last_name" value="{{ user.last_name }}" style="border-radius: 20px; overflow: hidden;">
        </div>
        <div class="form-group">
            <label for="id_email">Email:</label>
            <input type="email" class="form-control" name="email" id="id_email" value="{{ user.email }}" style="border-radius: 20px; overflow: hidden;">
        </div>
        <div class="form-group">
            <label for="id_bio">Bio:</label>
            <textarea class="form-control" name="bio" id="id_bio" style="border-radius: 20px; overflow: hidden;">{{ user_profile.bio }}</textarea>
        </div>
        <a href="{% url 'profile' %}" class="btn btn-primary rounded-pill shadow mt-3 ">Back</a>
        <button type="submit" class="btn btn-primary rounded-pill shadow mt-3">Save Changes</button>
    </form>
</div>
{% endblock %}
