<!-- FILEPATH: /e:/development/SE_ProjectTwo/SE_Project2/Project1/main/mainapp/templates/registration/register.html -->

<!-- https://docs.djangoproject.com/en/5.0/topics/auth/default/ -->
<!-- https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication -->
<!-- https://learndjango.com/tutorials/django-login-and-logout-tutorial -->

<!-- https://getbootstrap.com/docs/4.0/components/card/ -->
<!-- https://getbootstrap.com/docs/4.0/utilities/spacing/ -->
<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->

<!-- For making nice rounded cards -->
<!-- https://stackoverflow.com/questions/62322171/how-to-round-the-corners-of-a-card-body-and-image-in-bootstrap-4 -->

{% extends 'base.html' %}

{% load static %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
<!-- Containers, cards, cols, and shadows make the world go 'round -->
<div class="container d-flex align-items-center justify-content-center mt-3" style="min-height: 80vh;">
    <div class="col-md-6 col-lg-8">
        <div class="card shadow" style="border-radius: 20px; overflow: hidden;">
            <div class="card-body">
                <h1 class="h3 mb-3 font-weight-normal text-center"><strong>Register</strong></h1>
                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            <!-- check for field errors-->
                            {% if field.errors %}
                                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control is-invalid" id="{{ field.id_for_label }}" {% if field.value %}value="{{ field.value }}"{% endif %}>
                                <div class="invalid-feedback">
                                    <!-- for each error display an error -->
                                    {% for error in field.errors %}
                                        {{ error }}<br>
                                    {% endfor %}
                                </div>
                            <!-- if no errors, display the field -->
                            {% else %}
                                {{ field }}
                            {% endif %}
                            <!-- if the field has help text, display it -->
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <!-- Button to submit registration form-->
                    <div class="text-center">
                        <button class="btn btn-primary shadow rounded-pill" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Link for returning users to login -->
        <div class="text-center mt-3">
            <a href="{% url 'login' %}">Been here before? Log in here.</a>
        </div>
    </div>
    <!-- loading these here for now because its not passing through base correctly -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>

{% endblock %}
