{% extends 'base.html' %}
{% load static %}

{% block title %}Dormitories{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">Gold & Dort Dorms</h2>
                    <h4 class="card-subtitle mb-2 text-muted">Apartment-Style Residence Halls</h4>
                    <p>To see it on maps, click <a href="https://maps.app.goo.gl/opRcvCLGSr7sEnPw5">here</a>.</p>
                    <p class="card-text">The Dallas & Elizabeth Dort and Ann & Alfred Goldstein Residence Halls provide accommodations for approximately 150 students in apartment-style suites,
                        each including its own living room, kitchenette and bathroom facilities. The Dort and Goldstein Residence Halls are located near the Recreation Center on the Pei Campus. 
                        The apartment bedrooms in this area are approximately 12′ x 9′ and are either three or four bedrooms.</p>

                    <!-- Youtube video -> Share -> Embed -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/7RYefuH3laI?si=DbkTtpvTOHlHxgCN" title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">Letter Dorms</h2>
                    <h4 class="card-subtitle mb-2 text-muted">Lodge-Style Residence Halls</h4>
                    <p>To see it on maps, click <a href="https://www.google.com/maps/search/Letter+Dorms+NCF/@27.3844702,-82.5593739,17.25z?hl=en&entry=ttu">here</a>.</p>
                    <p class="card-text">The Lee & Bob Peterson Residence Hall, Ulla R. Searing Residence Hall, and the V and Y residence halls are lodge-style structures that feature studio,
                        two- and three-bedroom apartments, each with its own kitchenette and bathroom. The halls feature a dramatic two-story floor plan with central common areas, timbered ceilings, 
                        and a keyless entry system. These side-by-side residence halls are sometimes called “Letter Dorms” because they were originally designated as V, W, X, and Y Dorms before two were officially named. 
                        The apartment bedroom sizes are approximately 12′ x 9′.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static 'images/LetterDorm1.jpeg' %}" alt="Letter Dorm 1" class="img-fluid">
                            </div>
                            <div class="col-md-6">
                                <img src="{% static 'images/LetterDorm2.jpeg' %}" alt="Letter Dorm 2" class="img-fluid">
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</html>

{% endblock %}