<!-- FILEPATH: /e:/development/SE_ProjectTwo/SE_Project2/Project1/main/mainapp/templates/registration/login.html -->

<!-- This is the login page for the website. It is a simple form that takes in a username and password. It also has a button to register a new account. -->
<!-- https://docs.djangoproject.com/en/5.0/topics/auth/default/ -->
<!-- https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication -->
<!-- https://learndjango.com/tutorials/django-login-and-logout-tutorial -->

{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ other_user.username }}'s Profile
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Profile Picture and Username -->
        <div class="col-md-4 text-center">
            {% csrf_token %}
            <label for="profilePicture">
                {% if user.profile.profile_picture %}
                <img src="{{ MEDIA_URL }}{{ other_user.profile.profile_picture.url }}" class="img-fluid rounded-circle shadow mb-3" alt="Profile Picture" style="width: 150px; height: 150px; cursor: pointer;">
                {% else %}
                <img src="{{ MEDIA_URL }}{{ other_user.profile.profile_picture.url }}" class="img-fluid rounded-circle shadow mb-3" alt="Default Profile Picture" style="width: 150px; height: 150px;">
                {% endif %}
            </label>
        </form>
        <h3><strong>{{ other_user.username|slice:":15" }}</strong></h3>
        </div>
        <!-- Profile Details -->
        <div class="col-md-8">
            <!-- Rounded card -->
            <div class="card" style="border-radius: 20px; overflow: hidden;">
                <div class="card-body">
                    <!-- Card body for padding and spacing -->
                    <h4 class="card-title mb-4"><strong>Profile Details</strong></h4>
                    <!-- Displaying the user's details -->
                    <p><strong>Name:</strong> {{ other_user.first_name|slice:":15"  }} {{ other_user.last_name|slice:":15"  }}</p>
                    <p><strong>Email:</strong> {{ other_user.email }}</p>
                    <p><strong>I'm from: </strong> {{ other_user.profile.location }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Bio Section -->
    <div class="row mt-3">
        <div class="col">
            <!-- Rounded card -->
            <div class="card" style="border-radius: 20px; overflow: hidden;">
                <div class="card-body">
                    <!-- Card body for padding and spacing -->
                    <h4 class="card-title"><strong>About Me:</strong></h4>
                    <!-- Put the pets and like and stuff here pls pls pls remember and read seamus -->
                    <p><strong>Student status: </strong> {{ other_user.profile.user_years }} Novo</p>
                    <p><strong>Pets:</strong> {{ other_user.profile.pets }}</p>
                    <p><strong>Hobbies / Interests:</strong> {{ other_user.profile.interests }}</p>
                    <!-- Displaying the user's bio -->
                    <p>{{ other_user.profile.bio }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Badges Section (if you have badges to display) -->
    <div class="row mt-3">
        <div class="col">
            <div class="card" style="border-radius: 20px; overflow: hidden;">
                <div class="card-body">
                    <h4 class="card-title mb-3"><strong>Badges:</strong></h4>
                    <!-- Badge stuff -->
                    {% if other_user.profile.classBadge %}
                        <img src="{% static 'badges/1.png' %}" class="img-fluid rounded-circle mx-2 shadow" alt="class badge" style="width: 100px; height: 100px; cursor: pointer;">
                    {% else %}
                        <img src="{% static 'badges/emptyBadge.png' %}" class="img-fluid rounded-circle mx-2 shadow" alt="class badge" style="width: 100px; height: 100px; cursor: pointer;">
                    {% endif %}

                    {% if other_user.profile.dormBadge %}
                    <img src="{% static 'badges/2.png' %}" class="img-fluid rounded-circle mx-2 shadow" alt="dorm badge" style="width: 100px; height: 100px; cursor: pointer;">
                    {% else %}
                        <img src="{% static 'badges/emptyBadge.png' %}" class="img-fluid rounded-circle mx-2 shadow" alt="dorm badge" style="width: 100px; height: 100px; cursor: pointer;">
                    {% endif %}

                    {% if other_user.profile.hamBadge %}
                        <img src="{% static 'badges/3.png' %}" class="img-fluid rounded-circle mx-2 shadow" alt="ham badge" style="width: 100px; height: 100px; cursor: pointer;">
                    {% else %}
                        <img src="{% static 'badges/emptyBadge.png' %}" class="img-fluid rounded-circle mx-2 shadow" alt="ham badge" style="width: 100px; height: 100px; cursor: pointer;">
                    {% endif %}

                    {% if other_user.profile.eventsBadge %}
                        <img src="{% static 'badges/2.png' %}" class="img-fluid rounded-circle mx-2 shadow" alt="event badge" style="width: 100px; height: 100px; cursor: pointer;">
                    {% else %}
                        <img src="{% static 'badges/emptyBadge.png' %}" class="img-fluid rounded-circle mx-2 shadow" alt="event badge" style="width: 100px; height: 100px; cursor: pointer;">
                    {% endif %}

                    {% if other_user.profile.facultyBadge %}
                        <img src="{% static 'badges/5.png' %}" class="img-fluid rounded-circle mx-2 shadow" alt="faculty badge" style="width: 100px; height: 100px; cursor: pointer;">
                    {% else %}
                        <img src="{% static 'badges/emptyBadge.png' %}" class="img-fluid rounded-circle mx-2 shadow" alt="faculty badge" style="width: 100px; height: 100px; cursor: pointer;">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Posted images (if you have any to display) -->
    <div class="row mt-3">
        <div class="col">
            <div class="card shadow" style="border-radius: 20px; overflow: hidden;">
                <div class="card-body">
                    <h4 class="card-title"><strong>Posted Images:</strong></h4>
                    <!-- Image stuff stuff (user.images is placeholder for right now)-->
                    {% if other_user.images %}
                    <!-- loop through and render -->
                    {% else %}
                    <div class="mt-1 mx-2">
                        <p>Nothing to see here.</p>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
    <!-- loading these here for now because its not passing through base correctly -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>

{% endblock %}

